body{
    margin: 0%;
    padding: 0%;
    background: linear-gradient(to right, #ffe76d, #fe7bef);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    text-align: center;
    height: 85vh;
    width: 50vw;
    background-color: white;
    border-radius: 10%;
}
@media(max-width:450px) {
    .main{
        width: 90vw;
        height: max-content;
    }
}
.strt{
    margin-top: 10px;
    padding: 2px 4px;
    background-color: skyblue;
    border-radius: 4px;
    border: none;
}
.box{
    height: 13vw;
    width: 13vw;
    border-radius: 20%;
    border: 0.4vw solid black;
    margin: 2.3rem 1.5rem;
}
@media(max-width:450px) {
    .box{
        width: 30vw;
        height: 30vw;
    }
}
.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.red{
    background-color: #d95980;
}
.purple{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}
.back{
    color: white;
    background-color: red;
    border: none;
    font-size: medium;
    font-weight: bold;
    border-radius: 0.2rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.3rem 0.4rem;
}
@media(max-width:450px) {
    .back{
        position: relative;
        bottom: 1rem;
    }
}